[Unit]
Description=A cairis webserver

[Service]
User=vagrant
WorkingDirectory=/home/vagrant/cairis/
Environment="CAIRIS_CFG=/home/vagrant/cairis.cnf"
Environment="PYTHONPATH=${PYTHONPATH}:/home/vagrant/cairis/"
ExecStart=/usr/local/bin/mod_wsgi-express start-server /home/vagrant/cairis/cairis/bin/cairis.wsgi
Restart=on-failure

[Install]
WantedBy=multi-user.target
